:root {
    --highlight-color: #e13e22;
    --order-button-color: rgb(237, 83, 56);
    --light-grey: #e6e6e6;

    --bag-black: #373737;
    --bag-green: #4d4f44;
    --bag-blue: #505662;
}

body {
    margin: 40px auto 0 auto;
    font-size: 1em;
    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-weight: 300;
}

.description {
    text-align: center;
    padding: 2em 0 2em 0;
    color: #333333;

}

/* - - - Links - - - */
a {
    color: var(--highlight-color);
}

/* - - - Navigation bar - - - */

.topbar {
    background: var(--light-grey);
    height: 40px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.main-nav {
    margin-bottom: 2em;
}

.main-nav a {
    color: #000;
}

.main-nav .nav-item:hover {
    border-bottom: 1px solid black;
}

.main-nav .nav-item:hover a {
    color: var(--highlight-color);
}

.form-control,
.input-group-text {
    border-radius: 0;
}

.form-control:focus {
    box-shadow: none;
    border-color: #ccc;
}

.form-control:focus::placeholder {
    color: var(--highlight-color);
}

/* Highlight the search icon */

.form-control:focus~.input-group-append .input-group-text {
    color: var(--highlight-color);
}

/* - - - Title - - - */

h1 {
    font-size: 2.2em;
    text-transform: uppercase;
}

/* - - - Form Elements - - - */

.custom-radio,
.option-title {
    font-size: 14px;
    font-weight: bold;
}

.custom-radio {
    border: 1px solid #e2e2e2;
    border-radius: 0;
    margin: 0px 4px 4px 0;
    padding: 0.5em 1em;
    text-transform: uppercase;

}

.custom-radio:not(:disabled):not(.disabled).active,
.custom-radio:not(:disabled):not(.disabled):active {
    border-color: #000;
    box-shadow: none;
}

.color-radio {
    position: relative;
    height: 2.8em;
    width: 2.8em;
    padding: 2px;
}

/* White 'borders' around the color */
.color-radio:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 4px solid #fff;
}

.color-radio:nth-of-type(1) {
    background: var(--bag-black);
}

.color-radio:nth-of-type(2) {
    background: var(--bag-green)
}

.color-radio:nth-of-type(3) {
    background: var(--bag-blue);
}

input[type="submit"] {
    background: var(--order-button-color);
    border: none;
    color: #fff;
    padding: 0.75em 1em;
    margin: 1.5em 0;
    width: 80%;
}

.option-title {
    text-transform: uppercase;
    margin: 0.5em 0;
}

/* - - - Bundle details - - -  */

.bundle-content {
    display: none;
    margin-top: 15px;
}

.bundle-content, .bundle-content ul {
    margin-bottom: 0;
}


/* - - - Dimensions table - - - */

details {
    margin: 5px 0 15px 5px;
}

details p,
details summary {
    font-size: 0.9em;
    color: var(--highlight-color);
}

table.dimensions {
    text-align: center;
    font-size: 0.9em;
    width: 90%;
    margin: 0 auto 10px auto;
}

table.dimensions span {
    color: var(--highlight-color);
    font-weight: 600;
    font-size: 1.2em;
}

table.dimensions th {
    border-top: none;
    padding: 0.5em;
}

table.dimensions td {
    padding: 0.5em;
}

/*  - - - Shop link (looks like a button) - - - */

.shop-link {
    transition: .5s ease;
    display: inline-block;
    background-color: #fff;
    text-align: center;
    margin: 10px;
    padding: 1em 1.5em;
    text-transform: uppercase;
    color: #000;
}

.shop-link:hover {
    background-color: #000;
    color: #fff;
    text-decoration: none;
}

/* - - - Accessories - - - */

.accessory-title {
    text-align: center;
    padding-bottom: 2em;
    text-transform: uppercase;
}

.product-wrapper:hover img {
    opacity: 0.3;
}

.product-wrapper:hover .image-overlay {
    opacity: 1;
}

.image-overlay {
    width: 100%;
    transition: .5s ease-in;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay-text .shop-link {
    background: transparent;
    border: 1px solid black;
    font-size: 0.9em;
    padding: 0.75em 1em;
}

.overlay-text .shop-link:hover {
    border: 1px solid black;
    background: #000;
    color: #fff !important;
}

.product-name {
    text-transform: uppercase;
    font-size: 1.1em;
}

.price-info {
    font-size: 0.9em;
    color: var(--highlight-color);
    margin-bottom: 20px;
}

.price-info span {
    font-style: italic;
}

/* - - - Full page image - - - */

.full-page-img {
    margin: 4em 0 2em 0;
    position: relative;
}

.full-page-img img {
    width: 100%;
}

.full-image-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 0;
    background: red;
    opacity: 0.03;
}

.caption {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: #fff;

    text-align: right;
    padding: 0 5%;
}

.caption-content {
    text-align: center;
    max-width: 55%;
    display: inline-block;
}

.caption-content .headline {
    font-size: 2.5em;
    padding: 0;
    margin-bottom: 10px;
}

.caption-content .subtitle {
    line-height: 1.6em;
}

.caption-content .subtitle p {
    font-size: 1.1em;
    margin-bottom: 15px;
}

/* - - - Footer - - - */

/* Sticky footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e2e2e2;
    color: #000;
    text-align: center;
}

.footer-logo {
    max-width: 60%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

footer .social-icons {
    margin-top: 15px;
    margin-left: 5px;
}

.credits {
    color: rgb(107, 107, 107);
    font-size: 13px;
    font-weight: lighter;
}
